<div id="add">
    <div class="card">
      <h2>Select a topic</h2>
      <br>
      <form (ngSubmit)="addTheme()">
        <div class="form-group row">

          <div class="col-sm-9">
            <input type="text" name="name" [(ngModel)]="theme.name" class="form-control" id="name" placeholder="Enter topic name">
          </div>
        </div>

        <div class="btnContent" style="display: grid;">
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </form>
   </div>
 </div>
